In [2]:
## Linear Regression

In [3]:
## DATA PREPARATION

In [11]:
## Dataset Refering here : 'https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/refs/heads/master/chapter-02-car-price/data.csv'

In [8]:
import pandas as pd

In [35]:
df = pd.read_csv("https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/refs/heads/master/chapter-02-car-price/data.csv")

In [36]:
df.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

In [37]:
df.columns = df.columns.str.lower().str.replace(' ','_')

In [38]:
df.head()

,make,model,year,engine_fuel_type,engine_hp,engine_cylinders,transmission_type,driven_wheels,number_of_doors,market_category,vehicle_size,vehicle_style,highway_mpg,city_mpg,popularity,msrp
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

In [39]:
df.shape

(11914, 16)

In [40]:
# Shuffling data ; to split data as per validation framework
df = df.sample(frac=1).reset_index(drop=True)
df.head(3)

,make,model,year,engine_fuel_type,engine_hp,engine_cylinders,transmission_type,driven_wheels,number_of_doors,market_category,vehicle_size,vehicle_style,highway_mpg,city_mpg,popularity,msrp
0,Ford,F-150,2016,flex-fuel (unleaded/E85),385.0,8.0,AUTOMATIC,four wheel drive,4.0,Flex Fuel,Large,Crew Cab Pickup,21,15,5657,53775
1,Chevrolet,Colorado,2012,regular unleaded,185.0,4.0,MANUAL,rear wheel drive,2.0,NaN,Compact,Regular Cab Pickup,25,18,1385,17475
2,Hyundai,XG350,2004,regular unleaded,194.0,6.0,AUTOMATIC,front wheel drive,4.0,NaN,Midsize,Sedan,24,15,1439,25599

In [41]:
str_cols = df.dtypes[df.dtypes == 'object'].index.tolist()
str_cols

['make',
 'model',
 'engine_fuel_type',
 'transmission_type',
 'driven_wheels',
 'market_category',
 'vehicle_size',
 'vehicle_style']

In [43]:
for col in str_cols:
    df[col] = df[col].str.lower().str.replace(' ','_')

In [44]:
df.head(3)

,make,model,year,engine_fuel_type,engine_hp,engine_cylinders,transmission_type,driven_wheels,number_of_doors,market_category,vehicle_size,vehicle_style,highway_mpg,city_mpg,popularity,msrp
0,ford,f-150,2016,flex-fuel_(unleaded/e85),385.0,8.0,automatic,four_wheel_drive,4.0,flex_fuel,large,crew_cab_pickup,21,15,5657,53775
1,chevrolet,colorado,2012,regular_unleaded,185.0,4.0,manual,rear_wheel_drive,2.0,NaN,compact,regular_cab_pickup,25,18,1385,17475
2,hyundai,xg350,2004,regular_unleaded,194.0,6.0,automatic,front_wheel_drive,4.0,NaN,midsize,sedan,24,15,1439,25599

In [66]:
df.dtypes

make                  object
model                 object
year                   int64
engine_fuel_type      object
engine_hp            float64
engine_cylinders     float64
transmission_type     object
driven_wheels         object
number_of_doors      float64
market_category       object
vehicle_size          object
vehicle_style         object
highway_mpg            int64
city_mpg               int64
popularity             int64
msrp                   int64
dtype: object

In [67]:
## EXPLORATORY DATA ANALYSIS

In [45]:
len(df)

11914

In [49]:
train_len = int(len(df)*0.6)
val_len = int(len(df)*0.2)
test_len = int(len(df)*0.2)

train_len , val_len , test_len , train_len + val_len + test_len
train_len = len(df) - val_len - test_len
train_len , val_len , test_len , train_len + val_len + test_len

(7150, 2382, 2382, 11914)

In [51]:
df_train = df.iloc[:train_len]
len(df_train)

7150

In [54]:
df_val = df[train_len:train_len + val_len]
len(df_val)

2382

In [57]:
df_test = df[train_len+val_len:train_len + val_len + test_len]
len(df_test)

2382

In [65]:
if len(df_train) + len(df_val) + len(df_test) == len(df):
    print("Matching")

Matching